/*Esta parte es la mas importante*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 2000px;
    width: 100%;
}
header{
    border: 1px solid black;
    background-color: antiquewhite;
    width: 100%;
    height: 20%;
    float: left;
}
/*Esta es la parte del primer inico*/
header nav.inicio {
    width: 100%;
    height: 5%;
    display: inline-block;
    flex: row nowrap;
}
nav.inicio ul{
    display: flex;
    text-decoration: overline;
    background-color: rgb(184, 17, 17);
}
header nav.inicio ul li{
   display: inline;
   align-self: center;
   text-decoration: overline;
}
/*Esta es la parte del contenido*/
header nav.contenido{
    width: 100%;
    height: 5%;
    display: flex;
    flex: row nowrap;
}
header figure.logo img{
    display: flexd;
    width: 200px;

}
header div ul figure.categoria img{
    width: 100px;
}
/*Esta es la parte de la main*/
main{
    border: 1px solid black;
    background-color: brown;
    width: 100%;
    height: 80%;
    float: left
}


/*Esta es la parte de la footer*/
footer{
    border: 1px solid black;
    background-color: rgb(61, 56, 56);
    color: grey;
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    grid-template-rows: 20% 20% 20%;
    grid-area: 
    "envio metodopago metodopago metodopago"
    "contacto empresa servicios ofertaycam "
    ". sociales app app";
}
footer div.envio{
    grid-area: envio;
}
footer div.metodopago{
    grid-area: metodopago;
}
footer div.contacto{
    grid-area: contacto;
}
footer div.empresa{
    grid-area: empresa;
}
footer div.servicio{
    grid-area: servicio;
}
footer div.oferteycam{
    grid-area: ofertaycam;
}
footer div.sociales{
    grid-area: sociales;
}
footer div.app{
    grid-area: app;
}