/*Esta parte es la mas importante*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    border: 1px solid black;
    background-color: antiquewhite;
    width: 100%;
    height: 10%;
    float: left;
}
/*Esta es la parte del primer inico*/
header nav.inicio {
    background-color: aqua;
    display: flex;
}
nav.inicio ul{
    display: flex;
    text-decoration-line: overline;
    -moz-text-decoration-line: overline;
}
header nav.inicio ul li{
    background-color: rosybrown;
    display: flex;
    align-items: space-between;
    justify-content: space-between; 
}
header nav.contenido{
    display: flex;
    flex-direction: column;
}
header nav.contenido figure.logo{
    display: flexd;
    width: 20%;
    height: 10%;
}
/*Esta es la parte de la main*/
main{
    border: 1px solid black;
    background-color: brown;
    width: 100%;
    height: 40%;
    float: left
}

/*Esta es la parte de la footer*/
footer{
    border: 1px solid black;
    background-color: bisque;
    width: 100%;
    height: 30%;
    float: left
}