/*Esta parte es la mas importante*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    border: 1px solid black;
    background-color: antiquewhite;
    width: 100%;
    height: 40%;
    float: left;
}
/*Esta es la parte del primer inico*/
header nav.inicio {
    width: 100%;
    height: 5%;
    display: flex;
    flex: row nowrap;
}
nav.inicio ul{
    display: flex;
    text-decoration: overline;
}
header nav.inicio ul li{
    background-color: rosybrown;
    display: flex;
    align-items: space-between;
    justify-content: space-between; 
}
/*Esta es la parte del contenido*/
header nav.contenido{
    display: flex;
    flex-direction: row nowrap;
}
header nav.contenido figure.logo img{
    display: flexd;
    width: 200px;

}
header div ul figure.categorias img{
    width: 100px;
}
/*Esta es la parte de la main*/
main{
    border: 1px solid black;
    background-color: brown;
    width: 100%;
    height: 40%;
    float: left
}

/*Esta es la parte de la footer*/
footer{
    border: 1px solid black;
    background-color: bisque;
    width: 100%;
    height: 30%;
    float: left
}