footer {
    width: 100%;
    height: 60px;
    background-color: rgb(98, 98, 98);
    text-align: center;
  }
  
  footer div {
    margin: 0 auto;
    font-size: 30px;
    padding: 5px 5px;
    text-indent: 10px;
  }
  
  footer div a {
    display: inline-block;
    text-decoration: none;
    align-items: center;
    color: antiquewhite;
  }