.orange{
    background-color:rgb(182, 141, 65);
}
.blue{
    background-color:rgb(66, 66, 194);
}
.green{
    background-color:rgb(26, 160, 26);
}
.gris{
    background-color:rgb(165, 223, 239);
}
.white-text {
    color: rgb(45, 43, 43);
  }

  