section{
    display:flex;
    flex:row nowrap;
    width:80%;
    height:500px;
    background-color:none;
}
.card {
    height: 100%;
  }

@media screen and (max-width:600px){
    section{
        width:100%;
    }
}