* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    background-color: red;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
main div{
    background-color: antiquewhite;
    width: 20%;
    height: 100px;
    margin: 10px;
}
div.uno{
    order: 3;
}
div.dos{
    order: 5;
}
div.tres{
    order: 1;
}
div.cuatro{
    order: 2;
}
div.cinco{
    order: 4;
}
div.tipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 300px;
    border: black 1px solid;
    align-items: stretch;
}

article p.fruta{
    font-size: 300%;
    border: black 1px solid;
}
article p.contenido{
    border: black 1px solid;
}
article h3{
    border: orange 2px solid;
    background-color: grey;
}